{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Preference</title>
{% endblock %}

{% block content %}
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    
    .pick {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'Poppins', sans-serif;
    
      width: 50vw;
      height: 70vh;
      border-radius: 30px;
      box-shadow:  0 8px 12px rgba(0, 0, 0, 0.1);
    }
    
    .form-outline .form-control {
      background-color: #f0f0f0;
    }

    .btn-custom {
    background-color: black;
    color: white;
}

.btn-custom:hover {
    background-color: #f0f0f0;
    color: black;
}
  </style>
  <div class="pick">
    <h1 style="margin-top: 20px;"><b>Preferences</b></h1>
    <h3 style="margin-top: 20px;"><b>Silahkan pilih dari pilihan yang ada!</b></h3>

    <section class="vh-100">
      <div class="container py-5 h-100">
            <form method="post">
              {% csrf_token %}
              <div class="row">
        <div class="col">
            {% for field in first_half_fields %}
            <p>{{ field.label_tag }} {{ field }}</p>
            {% endfor %}
        </div>
        <div class="col">
            {% for field in second_half_fields %}
            <p>{{ field.label_tag }} {{ field }}</p>
            {% endfor %}
    </div>
              <input type="submit" value="Submit" class = "btn btn-light" display="flex" justify-content="text-center">
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
