{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Poppins", sans-serif;
  }

  .landing-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  @media (max-width: 1050px) {
    .landing-container {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  .landing-text-container {
    max-width: 50%;
    text-align: justify;
  }

  .landing-img-container {
    max-width: 50%;
    height: auto;
  }

  .btn-custom {
    background-color: black;
    color: white;
  }

  .btn-custom:hover {
    background-color: #f0f0f0;
    color: black;
  }
</style>

<div class="landing-container">
  <div class="landing-text-container">
    <h1>Selamat Datang <b>Admin</b>!</h1>
    <p style="overflow: hidden; text-overflow: ellipsis">
      Tempat di mana kata-kata menghidupkan cerita-cerita dan imajinasi menggenggam keajaiban. 
      Temukan dunia baru di antara halaman-halaman yang penuh dengan hikayat yang menarik untuk mengekspresikan pengalaman membaca Anda.
    </p>
    <a
      class="btn btn-custom"
      href="{% url 'admin_section:show_book_list_admin'%}"
      role="button"
      >Mulai Eksplor</a
    >
  </div>
  <div class="landing-img-container">
    <img
      src="{% static 'img/book.png' %}"
      alt="book"
      style="mix-blend-mode: multiply; max-width: 100%"
    />
  </div>
</div>

{% endblock content %}
