{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<style>
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
}
</style>

<div style="margin-top: 90px;">
    <h1><b>List User</b></h1>
</div>
<br>
<div>
    <table class="table table-bordered">
        <thead class="thead-dark" style="text-align: center;">
            <tr>
                <th scope="col"><b>Nama User</b></th>
                <th scope="col"><b>Last Login</b></th>
                <th scope="col"><b>Delete</b></th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.last_login|date:"d M Y H:i" }}</td> <!-- Formatting the date for better readability -->
              <td>
                  <form action="{% url 'admin_section:delete_user' user_id=user.id %}" method="post" id="deleteForm">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-dark" 
                          onclick="return confirm('Apakah Anda yakin ingin menghapus pengguna {{ user.username }}?')">Delete</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>

<hr />
<br /><br />

{% endblock content %}
