{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Poppins", sans-serif;
  }

  .detail-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  @media (max-width: 800px) {
    .detail-container {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  .detail-text-container {
    max-width: 50%;
    text-align: justify;
  }

  .detail-img-container {
    max-width: 50%;
    height: auto;
  }

  .detail-container {
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  .btn-custom {
    background-color: black;
    color: white;
  }

  .btn-custom:hover {
    background-color: #f0f0f0;
    color: black;
  }

  .review-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  .review-text-container {
    max-width: 50%;
    text-align: justify;
  }

  .form-input {
    width: 500px;
    height: 100px;
  }

  .card-deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  .custom-card {
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    width: 300px;
    height: 400px;
    overflow: auto;
  }
</style>

<div class="detail-container">
  <div class="detail-img-container">
    <img
      src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg"
      class="card-img-top"
      alt="{{ book.name }}"
    />
  </div>
  <div class="detail-text-container">
    <h1><b>{{ book.name }}</b></h1>
    <h2><b>{{ book.author }}</b></h2>
    <br />
    <p>
      <b><i>Rating</i> Rata-Rata:</b> {{ book.average_rating }}
    </p>
    <p><b>ISBN:</b> {{ book.isbn }}</p>
    <p><b>ISBN 13:</b> {{ book.isbn13 }}</p>
    <p><b>Kode Bahasa:</b> {{ book.language_code }}</p>
    <p><b>Jumlah Halaman:</b> {{ book.num_pages }}</p>
    <p>
      <b>Jumlah <i>Rating</i>:</b> {{ book.rating_count }}
    </p>
    <p><b>Tanggal Terbit:</b> {{ book.publication_date }}</p>
    <p><b>Penerbit:</b> {{ book.publisher }}</p>
  </div>
</div>

<div class="review-text-container">
    <h2><b>Tambahkan Ulasan Anda:</b></h2>
</div>

<div class="review-container">
    <div class="review-form-container">
        <form method="POST" id="form" onsubmit="return false;">
            {% csrf_token %}
            <div class="fields">
                <label for="review-form" class="form-label">Ulasan:</label>
                <textarea class="form-input" id="review-form" name="review-form"></textarea>
            </div>
        </form>
        <div class="button-submit" style="text-align:center;">
            <button type="submit" form="form" class="btn-custom">Submit Ulasan</button>
        </div>
    </div>
</div>

<div id="search-results" class="card-deck">
    {% for review in reviews %}
  
    <div class="card card-sm custom-card">
      <div class="card-body">
        <p class="card-text">{{ username.user }}</p>
        <p class="card-text">{{ reviews.date }}</p>
        <p class="card-text">{{ reviews.review }}</p>
      </div>
    </div>
    
    {% endfor %}
</div>

<script>
    async function getReviews() {
        return fetch("{% url 'book_details:get_reviews_json' %}").then((res) => res.json())
    }

    async function refreshReviews() {
        document.getElementById("all-reviews").innerHTML = ""
        const reviews = await getReviews()
        reviews.forEach((review) => {
            const reviewDiv = document.createElement("div")
            reviewDiv.classList.add("single-user-review")
            reviewDiv.innerHTML = `
                <h3>${review.user}</h3>
                <p>${review.date}</p>
                <div class="review-texts">
                    <p>${review.review}</p>
                </div>
            `
            document.getElementById("all-reviews").appendChild(reviewDiv)
        })
    }

    refreshReviews()

    function addReview() {
        fetch("{% url 'book_details:add_review_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshReviews)

        document.getElementById("form").reset()
        return false
    } 
</script>
{% endblock content %}