{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Poppins", sans-serif;
  }

  .detail-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  @media (max-width: 800px) {
    .detail-container {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  .detail-text-container {
    max-width: 50%;
    text-align: justify;
  }

  .detail-img-container {
    max-width: 50%;
    height: auto;
  }

  .detail-container {
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  .btn-custom {
    background-color: black;
    color: white;
  }

  .btn-custom:hover {
    background-color: #f0f0f0;
    color: black;
  }

  .review-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }

  .review-text-container {
    max-width: 50%;
    text-align: justify;
  }
</style>

<div class="detail-container">
  <div class="detail-img-container">
    <img
      src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
      class="card-img-top"
      alt="{{ book.name }}"
    />
  </div>
  <div class="detail-text-container">
    <h1><b>{{ book.name }}</b></h1>
    <h2><b>{{ book.author }}</b></h2>
    <br />
    <p>
      <b><i>Rating</i> Rata-Rata:</b> {{ book.average_rating }}
    </p>
    <p><b>ISBN:</b> {{ book.isbn }}</p>
    <p><b>ISBN 13:</b> {{ book.isbn13 }}</p>
    <p><b>Kode Bahasa:</b> {{ book.language_code }}</p>
    <p><b>Jumlah Halaman:</b> {{ book.num_pages }}</p>
    <p>
      <b>Jumlah <i>Rating</i>:</b> {{ book.rating_count }}
    </p>
    <p><b>Tanggal Terbit:</b> {{ book.publication_date }}</p>
    <p><b>Penerbit:</b> {{ book.publisher }}</p>
  </div>
</div>

<div class="review-container">
    <div class="review-text-container">
        <h2><b>Tambahkan Ulasan Anda:</b></h2>
    </div>
    <div class="review-form-container">
        <form id="form" onsubmit="return false;">
            {% csrf_token %}
            <div class="fields">
                <label for="user-name" class="form-label">User:</label>
                <input type="text" class="form-input" id="user-name" name="user-name">{{ reviews.user }}</input>
            </div>
            <div class="fields">
                <label for="review-form" class="form-label">Ulasan:</label>
                <textarea class="form-input" id="review-form" name="review-form"></textarea>
            </div>
        </form>
    </div>
    <button type="submit" onclick="addReview()" form="form" class="btn btn-primary">Submit Ulasan</button>
</div>

<script>
    
</script>
{% endblock content %}