{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    .custom-card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    width: 20vw;
    height: 50vh;
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.landing-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

        
.landing-text-container {
    max-width: 50%;
    text-align: justify;

}

        
.landing-img-container {
    max-width: 50%;

    height: auto;

}

.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.custom-card .card-img-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.bookmark-button {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bookmark-button.bookmarked {
  color: orange;
  background-color: black;
}

.btn-custom, .bookmark-button{
    background-color: black;
    color: white;
}

.btn-custom:hover, .bookmark-button:hover{
    background-color: #f0f0f0;
    color: black;
}

/* {% comment %} .btn-primary {
    background-color: black;
}

.btn-primary:hover {
    background-color: white;

    text-color: black;
}

.btn-primary:focus
{
    font-size: 13px;
    color:orange;
} {% endcomment %} */

</style>

<nav class="navbar px-4 fixed-top navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#"><b>UlasBuku</b></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active me-4">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" href="#">Books</a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav justify-content-end">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'main:logout'%}">
        Logout <i class="fa fa-sign-in"></i>
      </a>
    </li>
  </ul>
</nav>

<div class="landing-container">
  <div class="landing-text-container">
    <h1>Selamat Datang di <b>UlasBuku</b>!</h1>
    <p style="overflow: hidden; text-overflow: ellipsis">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna sed do eiusmod tempor
      incididunt ut labore et dolore magna sed do eiusmod tempor incididunt ut
      labore et dolore magna
    </p>
    <a class="btn btn-custom" href="#" role="button">Mulai Eksplor</a>
  </div>
  <div class="landing-img-container">
    <img
      src="{% static 'img/book.png' %}"
      alt="book"
      style="mix-blend-mode: multiply; max-width: 100%"
    />
  </div>
</div>

{% if user.is_authenticated %}
  <a href="{% url 'bookmark:show_bookmark' key=user.username %}" style="text-decoration: none; color: black">
    <b>ini button buat bookmark</b>
  </a>
{% endif %}

<div style="display: flex; align-items: center">
  {% if books.has_previous %}
  <a href="?page=1" class="btn btn-custom" style="margin-right: 10px">
    &laquo; First
  </a>
  <a href="?page={{books.previous_page_number}}" class="btn btn-custom">
    Previous
  </a>
  {% endif %}
</div>

<hr />
<h5>Page {{ books.number }} of {{ books.paginator.num_pages }}</h5>
<hr />

<div style="display: flex; align-items: center">
  {% if books.has_next %}
  <a
    href="?page={{books.next_page_number}}"
    class="btn btn-custom"
    style="margin-right: 10px"
  >
    Next
  </a>
  <a href="?page={{books.paginator.num_pages}}" class="btn btn-custom">
    Last &raquo;
  </a>
  {% endif %}
</div>

<br />
<div id="item_card_deck" class="card-deck">
  {% for book in books %}

  <div class="card card-sm custom-card">
    <img
      src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"
      class="card-img-top"
      alt="{{book.title}}"
    />
    <div class="card-body">
      <a
        href="{% url 'book_details:show_book_detail' key=book.pk %}"
        style="text-decoration: none; color: black"
        ><b
          ><h5 class="card-title" style="font-weight: bold">
            {{ book.title }}
          </h5></b
        ></a
      >
      <p class="card-text">Author: {{book.author}}</p>
      <p class="card-text">Rating: {{book.average_rating}}/10</p>
      <p class="card-text">Language: {{book.language_code}}</p>
      {% if user.is_authenticated %}  
      <form method="POST" action="{% url 'main:bookmark' book.pk %}">
        {% csrf_token %}
        <input type='hidden' name='bookmarked' value='{{ book.pk }}'>
        <button class="btn bookmark-button {% if book in bookmarks %}bookmarked{% endif %}" type="submit">
          <i class="fa fa-bookmark"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<hr />
<br /><br />

<script>
  
</script>

{% endblock content %}
