{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Register</title>
{% endblock %}

{% block content %}
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    
    .register {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'Poppins', sans-serif;
    
      width: 50vw;
      height: 70vh;
      border-radius: 30px;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    }
    
    .form-outline .form-control {
      background-color: #f0f0f0;
    }
    
    .btn-custom {
      background-color: black;
      color: white;
    }
  </style>

  <div class="register">
    <h1><b>Register</b></h1>

    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="{% static 'img/book.png' %}" class="img-fluid" alt="Phone image" />
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form class="user" method="POST">
              {% csrf_token %}

              <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <br />{{ form.username }}
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                {{ form.password1 }}
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                {{ form.password2 }}
              </div>
              {% if messages %}
                <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              <!-- Submit button -->
              <button type="submit" value="Daftar" name="submit" class="btn btn-custom btn-lg btn-block">Register</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
